<div>
    <div ng-include="'views/common/header.html'"></div>
    <div class="container theme-showcase" role="main">
        <div class="page-header">
            <h3>Generate Bill</h3>
        </div>

        <div>
            <p>Provide below details to generate the bill.</p>

            <form class="navbar">
                <div class="row">
                    <div class="col-md-9">
                        <div></div>
                        <table class="table" id="bill-table">
                            <thead>
                            <tr class="background-blue" style="color: white;">
                                <td>Product</td>
                                <td>Available Qty</td>
                                <td>Sell Qty</td>
                                <td>UnitPrice</td>
                                <td>PriceTotal</td>
                                <td></td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr style="vertical-align: middle;" ng-repeat="item in cart.items track by $index">
                                <td style="vertical-align: middle;">
                                    <div>
                                        <select class="form-control" ng-model="cart.items[$index].product" ng-options="x.name for x in all">
                                            <option value="select">Select Product</option>
                                        </select>
                                    </div>
                                </td>
                                <td style="vertical-align: middle;">{{cart.items[$index].product.quantity}}</td>
                                <td style="vertical-align: middle; width: 100px;">
                                    <div>
                                        <input type="text" ng-change="calculateUnitTotalPrice($index)" ng-model="cart.items[$index].sell_quantity" placeholder="Quantity"
                                               class="form-control" autofocus>
                                    </div>
                                </td>
                                <td style="vertical-align: middle;">{{cart.items[$index].product.price}}</td>
                                <td style="vertical-align: middle;">{{cart.items[$index].total_price}}</td>
                                <td style="vertical-align: middle;">
                                    <button type="button" class="close" ng-click="deleteRow($event, item)" ng-show="cart.items.length > 1" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div style="padding-left: 10px;">
                    <span>
                         <button type="button" ng-click="addRow()" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-plus"></span> Add Row
                    </button>
                    </span>
                    <span style="padding-left: 400px;">
                        Total Price : {{cart.cart_total_price}}
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>
