<div>
    <div ng-include="'views/common/header.html'"></div>
    <div class="container theme-showcase" role="main">
        <div class="page-header">
            <h3>Update Price</h3>
        </div>

        <div class="alert alert-success" role="alert" ng-cloak ng-show="successMessage != null">
            <button type="button" ng-click="successMessage=null" class="close" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
            <span id="successMessage">{{ successMessage }}</span>
        </div>

        <div class="alert alert-danger" role="alert" ng-cloak ng-show="errorMessage != null">
            <button type="button" ng-click="errorMessage=null" class="close" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
            <span id="errorMessageDiv">{{ errorMessage }}</span>
        </div>

        <div>
            <p>Select a product and enter price details to update:</p>

            <form class="navbar" ng-show="all != null && all.length > 0" name="updateprice" ng-submit="updatePrice()">
                <div class="row">
                    <div class="col-md-4">
                        <table class="table">
                            <tbody>
                            <tr style="vertical-align: middle;">
                                <td style="vertical-align: middle;">Product Name</td>
                                <td style="vertical-align: middle;">
                                    <div>
                                        <select class="form-control" ng-model="selectedProduct" ng-change="productSelection(selectedProduct)"
                                                 data-ng-options="product as product.name for product in all">
                                            <option value="">Select Product</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                            <tr style="vertical-align: middle;">
                                <td style="vertical-align: middle;">Price</td>
                                <td style="vertical-align: middle;">
                                    <div ng-show="current_price !=null ">
                                        {{ current_price }}
                                    </div>
                                </td>
                            </tr>
                            <tr style="vertical-align: middle;">
                                <td style="vertical-align: middle;">New Price</td>
                                <td style="vertical-align: middle;">
                                    <div>
                                        <input type="text" id="newprice" name="newprice" ng-model="newprice"
                                               placeholder="New Price"
                                               class="form-control" autofocus>
                                    </div>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <div>
                    <button type="submit" id="updateuserdeatils" style="width: 150px;"
                            class="btn btn-primary btn-block">Update Price
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
