<div>
    <div ng-include="'views/common/header.html'"></div>
    <div class="container theme-showcase" role="main">
        <div class="page-header">
            <h3>View Products</h3>
        </div>

        <div>
            <p>Below are the products</p>

            <form class="navbar">
                <div class="row">
                    <div class="col-md-4">
                        <table class="table">
                            <thead>
                            <tr class="background-blue" style="color: white;">
                                <td>Product Name</td>
                                <td>Remaining Quantity</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr style="vertical-align: middle;">
                                <td style="vertical-align: middle;">Head Phones</td>
                                <td style="vertical-align: middle;">14</td>
                            </tr>

                            <tr style="vertical-align: middle;">
                                <td style="vertical-align: middle;">Cooker</td>
                                <td style="vertical-align: middle;">9</td>
                            </tr>

                            <tr style="vertical-align: middle;">
                                <td style="vertical-align: middle;">Prestige Gas Stove</td>
                                <td style="vertical-align: middle;">32</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
