<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty name="APP_LOG_PATH" source="app.log.path"/>
    <springProperty name="APP_LOG_LEVEL" source="app.log.level"/>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${APP_LOG_PATH}/store.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${APP_LOG_PATH}/store.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] [%p] [%c:%L] {%X} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.springframework.web" level="ERROR" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>

    <logger name="org.thymeleaf" level="ERROR" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>

    <logger name="com.departmental.store" level="${APP_LOG_LEVEL}" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="FILE"/>
    </root>

</configuration>